* {
  padding: 0;
}
body {
  /*
    *
    * Thish Font By Google Font !!
    *
*/
  /*
    *
    * Type Font !!!
    *
*/
  font-family: 'Anton', sans-serif, 'Corinthia', cursive, 'Lemonada', cursive,
    'Lobster', cursive, 'MonteCarlo', cursive, 'Roboto', sans-serif;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
.inputs .trans,
.inputs .price .trans_dif,
.outputs .searchblock .trans {
  width: 80%;
  height: 30px;
  outline: none;
  border: none;
  margin: 4px 0%;
  border-radius: 4px;
  padding: 4px;
  background: #605d5d59;
  transition: transform 1s;
}
.inputs .price .trans_dif {
  margin: 4px 0 0 0.6rem;
}
.inputs {
  margin-left: 17%;
}
.inputs .price input {
  width: 17% !important;
}
#total {
  margin: 4px 0 0 0.7rem;
  width: 1%;
  background: #a7727d;
  padding: 5px 2px;
  border-radius: 4px;
  overflow: hidden;
  display: inline;
}
#total::before {
  content: 'Total:';
}
input:hover {
  background: #828080d5;
  transform: scale(1.1);
}
button {
  width: 80.5%;
  height: 30px;
  border: none;
  background: #f7efe5;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
}
button:hover {
  background: #fad6a5;
  letter-spacing: 1px;
}
#deleteall {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 17%;
  padding: 3px 7px;
}
.btnsearch {
  display: flex;
  justify-content: space-between;
  margin-right: 19%;
}
.btnsearch button {
  width: 35%;
  margin-right: 7px;
}
.searchblock {
  margin-left: 17%;
}
table {
  width: 77%;
  margin-left: 17%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 9%;
}
table th {
  text-transform: uppercase;
}
table td button {
  width: 63%;
}
